<title>Onzaec Twits>> Home</title>
</head>
<body>
<%-include("../navAuth")%>
    <div class = "jumbotron">
  </div>
<div class="container">
<div class="row">
  <div class="col-md-4">
    <img src="<%=cuser.avata%>" alt="<%=cuser.name%> <%=cuser.surName%>" class="img-fluid rounded shadow-2-strong" style="max-height:12rem;min-height:12rem; min-width:15rem" >
    <br>
    <p class="" ><span class="fa fa-camera btn btn-fefault" id="activeAvata"></span>|
      <span class="fa fa-info btn  btn-fefault" id="activeUserInfo"></span></p>
    <hr>
    <h3 class="text-sm">
      <%=cuser.name%> <%=cuser.surName%>
    </h3>
    <p><%=cuser.username%></p>
  </div>
  <div class="col-md-8">
    <%
    if(data){
      for(let twit of data){%>
        <div class="card border-primary mb-3" style="min-height:8rem">
          <div class="card-body">
            <p><span class="text-bold "><a href="#/<%=twit.User.username%>" class="text-muted userlink"accessKey="<%=twit.User.userId%>"><%=twit.User.username%></a ></span>  @ <i class="text-muted"><% var dateString = twit.createdAt
           dateString = new Date(dateString).toUTCString();
           dateString = dateString.split(' ').slice(0, 4).join(' ');
              %><%=dateString%></i></p>
              <p class=""><%=twit.twits%></p>
          </div>
          <div class="card-footer">
  <a href="/twit/<%=twit.twitId%>"><i class="fa fa-info"></i> Details</a><% if(twit.User.username===user.user_name){%>
  <span>
    <button type="button" name="" class=" btn edit-link" accessKey="<%=twit.twitId%>" class=" btn edit-link"><i class="fa fa-edit"  ></i>Eit</button>
    <button type="button" name="button" class=" btn delete-link" accessKey="<%=twit.twitId%>"><i class="fa fa-trash"  ></i> Delet</button>
  </span>
  <%}%>
      </div>
          </div>
          <br>
      <%}
    }else{%>
      <h4 class="text-muted text-center">No Twits Avalable Today</h4>
      <p class="text-center">Be the first one to Twit now</p>
    <%}
    %>
  </div>
</div>
</div>
<%-include("../footer")%>
<script type="text/javascript" src="js/members.js">

</script>
