<div class="container">
  <h1 class="text-center"><%=user.name%> <%=user.surName%></h1>
  <hr>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">

      <img src="<%=user.avata%>" alt="<%=user.name%> <%=user.surName%>" class="img-fluid rounded shadow-2-strong " style="max-height:20rem">
      <br>
      <p class="h5">
            <span class="fa fa-user"></span>
            <a href="user/<%=user.username%>"><%=user.username%></a></p><p><span class="fa fa-phone"></span><%=user.phone%> | <span class="fa fa-envelope"></span> <%=user.email%>
        </p>
      <p class="h5">
            <span class="fa fa-geolocation"></span> <%=user.country%>
      </p>

    </div>
    <div class="col-md-2">

    </div>
  </div>

</div>
