<link rel="stylesheet" href="../css/custom-styles.css">
<title>Onzaec Twits>><%=user_data.username%> </title>
</head>
<body>
  <%-include("../navAuth")%>
    <div class = "jumbotron">
      <div class="row">
        <div class="col-md-4">
          <div class="avata">
            <img src="../<%=user_data.avata%>" alt="<%=user_data.name%> <%=user_data.surName%>" class="img-thumbnail float-left"  style="max-width:12rem;">
          </div>
        </div>

      <div class="col-md-8 text-left">

        <h1 class=""><%=user_data.name%> <%=user_data.surName%></h1>
        <p class="">Username:<%=user_data.username%></p>
        <h5 class=""><%=user_data.country%></h5>
      </div>
    </div>
  </div>
  <div class="container">
  </div>
<%-include("../footer")%>
<script type="text/javascript" src="../js/user.js">
</script>
<script type="text/javascript" src="../js/members.js">
</script>
