
<title>Onzaec Twits>> Users</title>
</head>
<body>
<%-include("../navAuth")%>
    <div class = "jumbotron">
  </div>
<div class="container">
<div class="row">
<div class="cold-5 ">
  <h6>Active Users</h6>
  <div class="user-thumnails">
  <% for( let u of data){%>
    <div class="card border-primary mb-3" >
      <div class="card-body">
        <a class="ripple" href="#<%=u.surName%>">
  <img alt="<%=u.name%> <%=u.surName%>"
    class="img-fluid rounded shadow-2-strong " style="max-height:12rem; max-width:8rem"
    src="<%=u.avata%>"/>
</a>
<br>
        <p class="text-center h5"><%=u.name%> <%=u.surName%></p>
        <p class="text-center">
          <%=u.country%>
        </p>
          <span><a href="/user/<%=u.username%>">Profile</a> </span>|<span class="userProfile btn" accesskey="<%=u.userId%>">Details</span>
      </div>
    </div>
    <br>
  <%}%>
</div>
</div>
<div class="col-md-8" id="user-delaits">
<h3 class="text-center">
  People from All Arround have registered in here</h3>
<p class="text-center">Click their profile to view thier details</p></div>
</div>
  </div>
<br>
<%-include("../footer")%>
<script type="text/javascript" src="./js/users.js">

</script>
